@font-face {font-family: coolvetica;
    src: url(/coolvetica.ttf);}

@font-face {font-family: bambi;
    src: url(/bambi.ttf);}



body {background-color: #C39EA0;
        }

h1 {font-family: bambi;
    font-size: 50px;
    color: #F8E5E5;}

h3 {font-family: bambi;
    font-size: 24px;
    }

a {color: #804548;}

a:hover {color: #FA417A;}

p {font-size: 16px;}

